* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'georgia', serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ff9a68;
    color: #ffffff;
}

header{
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1 {
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 1rem;
}

#new-task-form{
    display: flex;
}

input, button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
}



